@import "_variable.scss";

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "PressStart", sans-serif;
    font-size: 14px;
    color: white;
   background: url('../img/png/фон2.jpeg') center no-repeat, url('../img/png/фон22.jpg') center no-repeat;
   background-size: cover;
}

p, li, div, span, a {
    font-family: "PressStart", sans-serif;
    font-size: 14px;
    line-height: 34px;
}

.main-container {
    margin: 0 auto;
    max-width: 1100px;
    background-color: transparent;

}

ul {
    list-style-type: none;
    padding: 0;
}

.headline {
    &-big{
        font-size: 35px;
    }
    &-medium {
        font-size: 25px;
    }
    &-low {
        font-size: 18px;
    }
}

.title {
    font-family: "PressStart", sans-serif;
}



.button, a.button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: white;
    border: 2px solid white; 
    @include transition();
    cursor: pointer;

    &:hover {
        color: $yellow!important;
        border-color: $yellow;
        background-color: black;
    }

}

.slick-dots {

    li {
        width: 10px!important;
        height: 10px!important;
        border: 2px solid $yellow;

        &.slick-active {
            background-color: $yellow;
        }

    }

    button {
        &::before {
            content: none!important;
        }
    }
}

section {
    padding-bottom: 40px;
}

.chapter-container {
    position: relative;

    .chapter-list {
        max-width: 497px;
        display: flex;
        flex-wrap: wrap;
    }

    .monstro-img {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 120px;

        @media all and (max-width: 570px) {
            display: none;
        }

    }

}

.img-center {
    display: block;
    margin: 0 auto 20px;
}

.caption-list {
    list-style-type: circle;
    padding-left: 15px;

    li {
        span {
            &:first-child {
                font-weight: bold;
            }
        }
    }

}

